@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

/*--------------------------------------------Header */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Lato;
    color: #777777;
}

/*--------------------------------------------Logo */

h2 {
    font-family: 'Oswald';
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #555555;
}

#logo {
    float: left;
    font-size: 280%;
}

/*--------------------------------------------Menu */
#menu {
    font-size: 150%;
    list-style-type: none;
    letter-spacing: 4px;
    font-family: 'Oswald';
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #555555;
}

#logo,
#menu {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #777777;
}

/*--------------------------------------------Img-fluid */

body,
html {
    height: 100%;
}

.img-1 {
    width: 100%;
    height: 500px;
    background-image: url("../images/background-home.jpg") no repeat center center;
}

.img-2 {
    width: 100%;
    height: 500px;
    background-image: url("https://images.unsplash.com/photo-1617297581964-2f08aa825f76?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1400&q=80") no repeat center center;
}

.img-3 {
    width: 100%;
    height: 500px;
    background-image: url("https://images.unsplash.com/photo-1616244013240-227ec9abfefb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80") no repeat center center;
}

.img-4 {
    width: 100%;
    height: 500px;
    background-image: url("https://images.unsplash.com/photo-1596555559098-8a80e0c98bbd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80") no repeat center center;
}

/*--------------------------------------------Jumbotron-fluid */

.container {
    font-size: 250%;
    font-family: 'Oswald';
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fafafa;
    text-align: center;

    width: 800px;
    height: 300px;

    padding-top: 500px;
    padding-left: 100px;

    bottom: 400px;
    right: 300px;

    position: absolute;
}

/*--------------------------------------------Introduction, what-to-do, contact-us and see-gallery */

.introduction,
.what-to-do,
.contact-us,
.see-gallery {
    font-family: 'Oswald';
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #555555;
    margin: 20px 0;
    text-align: center;
    font-size: 280%;
}

/*--------------------------------------------Introduction-text, text-about, contact-about and see-about */

.introduction-text,
.text-about,
.contact-about,
.see-about {
    font-family: 'Oswald';
    letter-spacing: 2px;
    color: #555555;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

/*--------------------------------------------Column: left and right, row and img-text - home.html*/

.column-left {
    float: left;
    width: 50%;
    flex: 50%;
    font-family: 'Oswald';
    letter-spacing: 2px;
    color: #555555;
    padding-left: 5%;
    padding-right: 5%;
}

.column-right {
    float: right;
    width: 50%;
    flex: 50%;
    font-family: 'Oswald';
    letter-spacing: 2px;
    color: #555555;
    padding-left: 5%;
    padding-right: 5%;
}

.row:after {
    display: table;
    clear: both;
    padding-left: 10px;
}

.row {
    display: flex;
    padding-top: 50px;
}

.img-text {
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    float: left;
    display: flex;
    flex-wrap: wrap;
    line-height: 75px;
}

.zoom .img-text {
    transition: transform .5s ease;
}

.zoom:hover .img-text {
    transform: scale(1.5);
}

.headings {
    font-size: 180%;
    list-style-type: none;
    letter-spacing: 4px;
    font-family: 'Oswald';
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #555555;
    padding: 3px;
    line-height: 75px;
    float: left;
}

.text-inf {
    float: left;
}

/*--------------------------------------------Left-about, right-about and center-about - activities.html*/

hr {
    border-top: 1px solid #777777;
    width: 100%;
    margin: 5px 0;
}

.left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

.right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

.center-about {
    width: 33%;
    margin: 0 auto;
}

/*--------------------------------------------Left-about-heading and .right-about-heading - activities.html */

.left-about-heading {
    width: 50%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    font-family: 'Oswald';
    letter-spacing: 2px;
    color: #555555;
}

.right-about-heading {
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    font-family: 'Oswald';
    letter-spacing: 2px;
    color: #555555;
}

.heading-icons {
    text-align: center;
}

/*--------------------------------------------Circle-container - activities.html */

.center-about {
    padding: 5%;
}

.circle-container {
    width: 300px;
    height: 300px;
    padding: 0;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.circle-cover-bg {
    background: url("https://images.unsplash.com/photo-1566893702043-ee439a981a31?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjA3fHxoaWtpbmd8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/*--------------------------------------------Card - activities.html */

.card {
    text-align: center;
    border: 0;
    padding-top: 5px;
    width: 100%;
    height: 30%;
}

.card li {
    display: inline;
    text-align: center;
}

.card img {
    width: 230px;
    height: 210px;
    margin: 0;
    padding: 3%;
}

/*--------------------------------------------Footer */

footer {
    height: 150px;
}

/*--------------------------------------------Social-links */

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
}

.social-links i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}

/*--------------------------------------------Photo - gallery.html */

.photo {
    border-radius: 4px;
    width: 300px;
    height: 200px;
    margin: 30px 20px 30px 20px;
}

.photo-column {
    display: inline;
    clear: both;
    width: 100%;
    text-align: center;
}

.img-hover-zoom {
    height: 100px;
    overflow: hidden;
    display: inline;
}

.img-hover-zoom .photo {
    transition: transform .5s ease;
}

.img-hover-zoom:hover .photo {
    transform: scale(1.25);
}

/*--------------------------------------------Email, form-group and btn - contact.html */

.email {
    margin: 50px 200px 50px 200px;
}

.form-group {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Oswald';
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #555555;
    padding-top: 10px;
}

.btn {
    letter-spacing: 2px;
    color: #fafafa;
    background-color: #2C3E50;
    text-transform: uppercase;
    font-family: 'Oswald';
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 10px 50% 30px 50%;
}